#root {
	position: relative;
}

.App {
	text-align: center;
	text-transform: uppercase;
	max-width: 1000px;
	margin: auto;
}

.scrollable {
	max-height: calc(100vh - 160px);
	overflow: scroll;
}

.scrollable button:focus, .scrollable button:active {
	background-color: #2196f3;
}